    .lastinitial.d-flex{
        display: none !important;
    }
    .firstinitial.d-flex{
        display: none !important;
        
    }
#ccnSearchOverlayWrap{
    display:none;
}

.generaltable td.cell{
    background: #eee !important;
    vertical-align: top !important;
}
.btn-primary, .btn-secondary, .page-context-header .btn {
    background-color: #04654a !important;
}

.custom-select {
   
    border: 1px solid #04654a !important;
    
}